// FONTS-------------------------

@font-face {
    font-family: "AvenirNext LT Pro";
    src: url("../fonts/AvenirNextLTPro-regular.woff2") format("woff2"),
      url("../fonts/AvenirNextLTPro-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "AvenirNext LT Pro";
    src: url("../fonts/AvenirNextLTPro-Bold.woff2") format("woff2"),
      url("../fonts/AvenirNextLTPro-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: "AvenirNext LT Pro";
    src: url("../fonts/AvenirNextLTPro-Medium.woff2") format("woff2"),
      url("../fonts/AvenirNextLTPro-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
  }