// HEADER -----------------------------------------

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 14vh;
    padding-top: 0;
    background-color: $black-on-white;
    position: relative;
}

.header__logo {
    display: flex;
    align-items: center;
    position: relative;
    width: 7.13rem;
    height: 14vh;
    margin: 0 3.5rem 0 1.5rem;
    padding-top: 0;
    top: 0;
}

nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: auto;
    height: 14vh;
}

.nav__item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0.31rem 1.25rem ;
    margin-right: 3.13rem;

    a {
        color: #fff;
        }
}

.nav__item--active {
    border-bottom: 0.310rem solid  rgb(255, 255, 255);
    // padding-top: 1.06rem;
    height: 14vh;
    }


// /END HEADER -----------------------------------------



// HERO ----------------------------------------------

.hero {
    width: 100%;
    height: 670px;
    background-size: cover;
}

.heroOverlay2 {
    width: 100%;
    display:flex;
    flex-direction: column;
}

.hero h1 {
    font-size: 3.75rem;
    line-height: 5rem;
    max-width: 80%;
}

.heroTitle1 {
    margin-top: 6rem;
    
        h3 {                                         
            font-size: 1.5rem;
        }
}

iframe {
    display:flex;
    justify-content: flex-start;
    bottom: 0;
    width: 50%;
    height: 8.75rem;
    margin-right: auto;
    background-color: #777;
}

//  / END HERO -----------------------------------------



// MAIN SECTION -----------------------------------------

.introSection h1 {
    font-size: 2.25rem;
}

.introImg {
    margin-bottom: 1.5rem;
}

.introExerpt {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
}

.introExerptSignature {
    font-size: 1.3rem;
}

h4 {
font-size: 2rem;
}

.intro {
    ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
  
        li {
            display: inline;
            width: 50%;
            list-style: none;
            margin-right: 24px;
        }
    }
}


// Photo Gallery Section -----------------------------------------

.gallery {

    h1 {
    margin-bottom: 2.25rem;
    }
}

.photoSection{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.photo {
    margin-bottom: 1rem;
    width: 31%;

        img {
            max-height: 100%;
        }
}
// /End Photo Section -----------------------------------------



// Conversation Section ----------------------------------

.conversContainer {
    padding: 3rem 1rem 2rem 1rem;
    width: 100%;
    h1 {
        margin-bottom: 1.5rem;
        line-height: 2rem;
    }
}
.conversation {
    padding: 2rem 1rem 2.5rem 1rem;
    width: 70%;
    margin-left: auto;
    margin-right: auto;

    h1 {
        font-size: 2rem;
    }
}

.innerConvers {
    padding-top: 1rem;
    border-bottom: 2px solid #E1E1E1;
}

.formCol, .commentCol{
    width: 90%;
    padding-left: 0.94rem;
}

.avatarCol {
    width: 10%;
    padding-top: 1rem;
}

.avatar__form{
    margin-top: 0.94rem;
}

input[type=text], textarea {
    width: 100%;
    margin: 0 0 1.25rem 0;
}

.button {
    display: flex;
    justify-content: flex-end;
}

  input[type=submit] {
    width: 30%;
    margin-top: 0.63rem;
    padding: 1.1rem 0;
    font-size: 0.9rem;
    font-weight: 600;
}

// / END CONVERSATION Section -----------------------------


// ADD-ONS SHOW SECTION -----------------------------

.showListContnr{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.shows-list {
    &__item {
        display: flex;
        flex-direction: row;
    }

    &__date {
        &::before {
            content: "DATE" ;
            margin-bottom: 1rem;
            margin-right: auto;
        }
      margin: 0.625rem 0;
      margin-bottom: 0.9rem;
      width: 30%;
    }

    &__venue {
      width: 30%;
      &::before {
        content: "VENUE" ;
        margin-right: auto;
        }
    }

    &__location {
      width: 30%;
        &::before {
            content: "LOCATION";
            color: #ccc;
            display:block;
            font-size: 1.3rem;
            margin-bottom: 1rem;
        }
    }
}

button {
    width: 160px;
}
     // /End Add-ons Show Section -----------------------------
// / END MAIN SECTION -----------------------------------------



// FOOTER -----------------------------------------
footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    background-color: #323232;
    color: white;
    padding: 1rem 0 0 1rem;

        h1 {
            margin-left: 0;
        }
}

.innerFooter {
    width:100%;
    margin-left:0;
    margin-right:0;
}

.row1, .row2 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    width: 100%;
    margin-bottom: 50px;
}

.row2 {
    margin-top: 1.25rem;
}

.footerHeader, .footerHeader2, .footerHeader3{
    min-width: 33%;
}

// .footerHeader2 {
//     margin-left: 1.25rem;
// }

.footerHeader3 {
    text-align: right;
    padding-right: 1rem;
    visibility: visible;

    img{
        margin-top: 1.75rem;
    } 
}

.contactSection {
    margin-top: -20px;
    height: 200px;
  }

.social ul {
    margin-top: 2.50rem;

    li {
        margin-top: 1.38rem;
    }

    .copy {
        margin-top: 1rem;
        font-size: 0.8rem;
      }
}

// /END FOOTER -----------------------------------------