

// HEADER -----------------------------------------
    .header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 14vh;
        background-color: $black-on-white;
    }
 
    .logo {
    width: 7.13rem;
    height: 14vh;
    margin: 0 0 0  1.5rem;
    }
    
    .logo, .hero h1 {
        margin-left: 10.25rem;
    }

    nav {
    width: 30%;
    height: 14vh;
    padding-top: 0;
    }

    .navLink {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 14vh;
    margin-left: 3.5rem;
    padding-top: 1.06rem;
        a {
            color: #fff;
        }
    }

    .active {
        border-bottom: 0.310rem solid  white;
        }
// /END HEADER -----------------------------------------




// HERO -----------------------------------------

.hero {
    width: 100%;
    height: 670px;
    padding-left: 8.9rem;
    padding-top: 10rem;
}

.heroTitleContnr{
    display:flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 0;
    width: 1200px;
    margin-top: 3rem;
    margin-right: auto;
}


.hero h1 {
    font-size: 3.75rem;
    line-height: 5rem;
    margin: 0 0 0 1.5rem;
    max-width: 50%;
}
        
.heroTitle1 {
    margin-top: 0;
        h3 {                                         
            font-size: 1.5rem;
            margin:0 0;
                }
}

iframe {
    width: 436px;
    height: 146px;
    background-color: #777;
    z-index: 15;
    margin-left: 64px;
    margin-bottom: 1.6rem;
}
// / END HERO -----------------------------------------




// MAIN SECTION -----------------------------------------
        .introSection h1 {
            font-size: 2.25rem;
            margin: 3rem 0 3rem 11.25rem;
        }

        .introImg {
            margin-bottom: 1.5rem;
            width: 896px;
            margin-left: auto;
            margin-right: auto;
        
            img {
             max-width: 896px;
             max-height: 450px;
            }
        }

        .introExerpt {
            width: 896px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 3rem;
        }

        .introExerptSignature {
            width: 896px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 3.5rem;
            margin-top: 2.50rem;
            font-size: 1.3rem;
        }

        .introTitle {
            width: 896px;
            margin-left: auto;
            margin-right: auto;
        }

        h4 {
            margin-right: auto;
            margin-bottom: 2rem;
            font-size: 2rem;
        }
    
        .intro {
            width: 896px;
            margin-left: auto;
            margin-right: auto;
            columns: 420px 2;
            column-gap: 2.50rem;
        
            p {
                font-size: 0.88rem;
                line-height: 1.32rem;
            }
        }

        // Photo Section -----------------------------------------
        .gallery {
            padding: 1rem 1rem 2rem 1rem;
            width: 100%;
        
            h1 {
                padding-left: 12rem;
                margin-top: 3rem;
                margin-bottom: 4rem;
                line-height: 2rem;
            }
        }

        .photoSection {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            max-width: 1200px;
            margin-left: auto;
            margin-right: auto;
        }

        .photo {
            margin: 1.5rem;
            max-width: 344px;
            max-height: 193px;

            img {
                max-width: 100%;
                max-height: 100%;
            }
        }

  // /End Photo Section -----------------------------------------

// Conversation Section ----------------------------------
.conversContainer {
    padding: 3rem 1rem 2rem 1rem;
    width: 100%;
    h1 {
        margin-bottom: 1.5rem;
        line-height: 2rem;
        margin-left: 180px;
    }
}

.conversation {
    padding: 2rem 1rem 2.5rem 1rem;
    // max-width: 1150px;
    max-width: 528px;
    margin-left: auto;
    margin-right: auto;

    h1 {
        font-size: 2rem;
        margin-bottom: 3.5rem;
    }
}

.innerConvers {
    // display: flex;
    justify-content: center;
    // height: auto;
    width: 100%;
}

.formCol, .commentCol{
    width: 460px;
    // padding-left: 15px;
}

.avatarCol {
    width: 10%;
    height: auto;
    padding-top: 0;
    // text-align: right;
}

.avatar{
    margin: 0;
    border-radius: 50%;
    height: 48px;
    width: 48px;
  }

  .avatar__form{
    margin-top: 15px;
  }

  .avatar img {
    height: 48px;
    width: 48px;
    // border-radius: 50%;
  }

  input[type=text], textarea {
    width: 100%;
    margin: 8px 0 24px 0;
    border: 1px solid #ccc;
    // border-radius: 4px;
    // background-color: #F7F7F7;
    // transition: 0.5s;
    // outline: none;
    // font-family: $main-fontface;
    // font-size: 0.9rem;
  }

  input[type=text] {
    padding-top: 20px;
    line-height: 28px;
  }

//   input[type=text]:focus {
//     border: 2px solid $black-on-white;
//   }

.labelTxt {
    font-size: 0.9rem;
    font-weight: 500;
    color:#CCC;
}
  
.button {
    display: flex;
    justify-content: flex-end;
}

  input[type=submit] {
    width: 160px;
    // background-color: $black-on-white;
    // color: white;
    // padding: 14px 20px;
    margin-top: 10px;
    padding: 1.1rem 0;
    // border: none;
    // border-radius: px;
    font-size: 0.9rem;
    font-weight: 600;
  }


.commentCol {
    width: 460px;
}

.commentAuthor {
    width: auto;
    // font-size: 0.9rem;
    // font-weight: 600;
    // color: $black-on-white;
}

.commentDate {
    // height: auto;
    width: auto;
    // font-size: 0.9rem;
    // color: #ccc;
    text-align: left;
    // position: absolute;
    right: auto;
    margin-left: 1rem;
    margin-top: 1px;
}

.comment {
    height: auto;
    margin-top: 1rem;
    font-size: 0.9rem;
}

// /End Conversation Section -----------------------------

// ADD-ONS SHOW SECTION -----------------------------

.showListContnr{
    margin-left: 1.5rem;
    margin-right: 1.5rem;

    h1 {
        max-width: 10%;
    }
}

.shows-list {
    width: 804px;
    margin-left: auto;
    margin-right: 180px;
    margin-top: -5rem;

    &__item {
        display: flex;
        flex-direction: row;
    }

    &__date {
        &::before {
            content: "DATE";
            margin-bottom: 1rem;
            margin-right: auto;
        }
      margin: 0.625rem 0;
      margin-bottom: 0.9rem;
      width: 30%;
    }

    &__venue {
      width: 30%;
      &::before {
        content: "VENUE";
        margin-right: auto;
    } 
    }

    &__location {
    &::before {
        content: "LOCATION";
        color: #ccc;
        display:block;
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }
    }
}  


  button {
    width: 160px;
}
     // /End Add-ons Show Section -----------------------------

  // / END MAIN SECTION -----------------------------------------




// FOOTER -----------------------------------------

    .footer {
        justify-content: flex-start;
        align-items: center;
        padding-top: 1rem;
    
        h1 {
            margin: 0;
        }
    }

    .innerFooter {
        width: 1160px;
        margin-left: auto;
        margin-right: auto;

    }

    .row1 {
        justify-content: space-evenly;
        align-items: center;
        margin-top: 3rem;
        width: 100%;

        &row2 {
                margin-top: 1.25rem;
                margin-right: auto;
                width: 80%;
            }
        }

    .row3 {
        width: 100%;
        text-align:left;
    }
    
    .footerHeader1 {
        min-width: 25%;
        text-align: left;
    }

    .footerHeader2 {
        min-width: 33%;
        margin-left: 20px;
    }

    .footerHeader3 {
        min-width: 40%;
        text-align: right;
        visibility: visible;
        
        img {
            max-width: 120px;
            max-height: 24px;
        }
    }

    .social ul {

        li {
            padding-bottom: 15px;
            }
    }
    