// HEADER -----------------------------------------

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 14vh;
  background-color: $black-on-white;
  position: relative;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 20%;
  height: 14vh;
  margin: 0 0 0 1.5rem;
  top: 0;
}

nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 40%;
  height: 14vh;
  padding-top: 17px;
}

.navLink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100%;
  text-align: center;
  padding: 5px 20px;
  margin-right: 50px;
}

// /END HEADER -----------------------------------------

// HERO -----------------------------------------

.hero {
  width: 100%;
  height: 670px;
  background-size: cover;
}

.hero h1 {
  font-size: 3.75rem;
  line-height: 5rem;
  margin-left: 1.5rem;
  margin-right: auto;
  max-width: 80%;
}

.heroTitle1 {
  margin-top: 6rem;

  h3 {
    font-size: 1.5rem;
  }
}

iframe {
  display: flex;
  justify-content: flex-start;
  bottom: 0;
  width: 50%;
  height: 140px;
  margin-left: 1.5rem;
  margin-right: auto;
  background-color: #777;
  z-index: 15;
}

//  / END HERO -----------------------------------------

// MAIN SECTION -----------------------------------------

.introSection h1 {
  font-size: 2.25rem;
}

.introImg {
  margin-bottom: 1.5rem;
}

.introExerpt {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}

.introExerptSignature {
  font-size: 1.3rem;
}

h4 {
  font-size: 2rem;
}

.intro {
  p {
    font-size: 0.88rem;
    line-height: 1.32rem;
  }
}

// Photo Gallery Section -----------------------------------------

.gallery {
  padding: 1rem 1rem 2rem 1rem;

  h1 {
    margin-bottom: 2.25rem;
  }
}

.photoSection {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.photo {
  margin-bottom: 1rem;
  width: 31%;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}
// /End Photo Section -----------------------------------------

// Conversation Section ----------------------------------

.conversContainer {
  padding: 3rem 1rem 2rem 1rem;
  width: 100%;
  h1 {
    margin-bottom: 1.5rem;
    line-height: 2rem;
  }
}
.conversation {
  padding: 2rem 1rem 2.5rem 1rem;
  width: 70%;
  margin-left: auto;
  margin-right: auto;

  h1 {
    font-size: 2rem;
  }
}

.innerConvers {
  padding-top: 1rem;
  border-bottom: 2px solid #e1e1e1;
}

.formCol,
.commentCol {
  width: 90%;
  padding-left: 15px;
}

.avatarCol {
  width: 10%;
  padding-top: 1rem;
}

.avatar__form {
  margin-top: 15px;
}

input[type="text"],
textarea {
  width: 100%;
  margin: 0px 0 20px 0;
}

.button {
  display: flex;
  justify-content: flex-end;
}

input[type="submit"] {
  width: 30%;
  margin-top: 10px;
  padding: 1.1rem 0;
  font-size: 0.9rem;
  font-weight: 600;
}

.commentCol {
  width: 100%;
}

.commentAuthor {
  width: auto;
}

.commentDate {
  height: auto;
  width: auto;
  text-align: left;
  position: absolute;
  right: auto;
  margin-left: 1rem;
  margin-top: 1px;
}

.comment {
  font-size: 0.9rem;
}

// / END CONVERSATION Section -----------------------------

// ADD-ONS SHOW SECTION -----------------------------

.showListContnr {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.shows-list {
  &__item {
    display: flex;
    flex-direction: row;
  }

  &__date {
    &::before {
      content: "DATE";
      margin-bottom: 1rem;
      margin-right: auto;
    }
    margin: 0.625rem 0;
    margin-bottom: 0.9rem;
    width: 30%;
  }

  &__venue {
    width: 30%;
    &::before {
      content: "VENUE";
      margin-right: auto;
    }
  }

  &__location {
    width: 30%;

    &::before {
      content: "LOCATION";
      color: #ccc;
      display: block;
      font-size: 1.3rem;
      margin-bottom: 1rem;
    }
  }
}

button {
  width: 160px;
}
// /End Add-ons Show Section -----------------------------
// / END MAIN SECTION -----------------------------------------

// FOOTER -----------------------------------------
.footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  background-color: #323232;
  color: white;
  padding: 1rem 0 0 1rem;

  h1 {
    margin-left: 0;
  }
}

.innerFooter {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.row1,
.row2 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  height: auto;
  width: 100%;
}

.row2 {
  margin-top: 1.25rem;
}

.footerHeader {
  min-width: 33%;
}

.footerHeader2 {
  min-width: 33%;
  margin-left: 20px;
}

.footerHeader3 {
  min-width: 33%;
  text-align: right;
  padding-right: 1rem;
  visibility: visible;

  img {
    margin-top: 28px;
  }
}

.social ul {
  margin-left: 40px;

  li {
    margin-top: 22px;
  }
}

// /END FOOTER -----------------------------------------
