// HEADER -----------------------------------------
.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 14vh;
  background-color: $black-on-white;
  position: relative;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 20%;
  height: 14vh;
  margin: 0 0 0 1.5rem;
  top: 0;
}

nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 30%;
  height: 14vh;
  padding-top: 17px;
}

.active {
  border-bottom: 5px solid white;
  font-weight: 500;
}
// /END HEADER -----------------------------------------


// HERO -----------------------------------------
.hero {
  width: 100%;
  height: 47.22vh;
}

.hero h1 {
  font-size: 3.75rem;
  line-height: 5rem;
  margin-left: 1.5rem;
}
// /END HERO -----------------------------------------


// MAIN SECTION -----------------------------------------
.introSection h1 {
  font-size: 2.25rem;
}

.introImg {
  margin-bottom: 1.5rem;
  width: 100%;

  img {
    width: 100%;
    height: auto;
  }
}

.introExerpt {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}

.introExerptSignature {
  margin-bottom: 2.5rem;
  font-size: 1.3rem;
  font-weight: 500;
}

h4 {
  font-size: 2rem;
}

.intro {
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;

  p {
    font-size: 0.88rem;
    line-height: 1.32rem;
  }
}

  //Photo Section -----------------------------------------
.gallery {
  padding: 1rem 1rem 2rem 1rem;

  h1 {
    margin-bottom: 2.25rem;
    line-height: 2rem;
  }
}

.photoSection {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.photo {
  margin-bottom: 1rem;
  width: 31%;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}
  // /End Photo Section -----------------------------------------
// / END MAIN SECTION -----------------------------------------


// FOOTER -----------------------------------------
.footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  background-color: #323232;
  color: white;
  padding: 1rem 0 0 1rem;

  h1 {
    margin-left: 0;
  }
}

.innerFooter {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.row1,
.row2 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  height: auto;
  width: 100%;
}

.row2 {
  margin-top: 1.25rem;
}

.footerHeader {
  min-width: 33%;
}

.footerHeader2 {
  min-width: 33%;
  margin-left: 20px;
}

.footerHeader3 {
  min-width: 33%;
  text-align: right;
  padding-right: 1rem;
  visibility: visible;

  img {
    margin-top: 28px;
  }
}

.social ul {
  margin-left: 40px;

  li {
    margin-top: 22px;
  }
}
// / END FOOTER -----------------------------------------